* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  min-height: 400px;
  border: 2px solid grey;
  margin: 2%;
  padding: 2%;
  border-radius: 20px;
  line-height: 2;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

form {
  width: 100%;
}

form > * {
  margin: 2%;
}

input {
  border: 1px solid grey;
  font-size: 1.5rem;
  width: 40%;
}

button {
  border: 1px solid black;
  font-size: 1rem;
  padding: 1%;
  border-radius: 15px;
  background-color: lightslategray;
  color: white;
}

button:hover {
  color: blueviolet;
  background-color: white;
}